node_modules
config.json
web/dist/
web/index.html
server/js/
server/upload/
server/data/
server/coverage
server/yarn-error.log
xcuserdata/
.ignore
.ignored_files/
.DS_Store
.vscode/
ZZidea
newrelic_agent.log
.env

# Nubis
nubis/librarian-puppet.tar.gz
nubis/librarian-puppet
nubis/Puppetfile.lock
nubis/.tmp
nubis/.librarian
nubis/builder/artifacts/*

# WebStorm
.idea/
